

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(7, 4, 56), rgb(100, 2, 130));
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  gap: 10px;
  border: whitesmoke solid;
  top: 10%;
  left: 33%;
  height: 450px;
  width: 500px;
  border-radius: 25px;
}

.buttons h3{
  color: aliceblue;
  font-size: 30px;
  top:0;
  position: absolute;
}

.name{
  position: absolute;
  top: 23%;
  color: aliceblue;
  font-size: 25px;
}

.name input{
  height: 40px;
  width: 350px;
  background-color: transparent;
  border: whitesmoke solid 2px;
  border-radius: 30px;
  margin-top: 7px;
  color: aliceblue;
  padding-left: 13px;
}

.name input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.join {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60%;
  color: aliceblue;
  font-size: 25px;
}

.create-btn {
  height: 45px;
  width: 370px;
  background-color: transparent;
  border: whitesmoke solid 2px;
  border-radius: 30px;
  position: absolute;
  top:47%;
  font-size: 22px;
  color: aliceblue;
  transition: 1s;
}

.room{
  height: 40px;
  width: 350px;
  background-color: transparent;
  border: whitesmoke solid 2px;
  border-radius: 30px;
  margin-top: 7px;
  color: aliceblue;
  padding-left: 13px;
}
.join input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.join-btn{
  height: 45px;
  width: 370px;
  background-color: transparent;
  border: whitesmoke solid 2px;
  border-radius: 30px;
  font-size: 22px;
  color: aliceblue;
  position: absolute;
  top: 77%;
  transition: 1s;
}

.join-btn:hover{
  background: whitesmoke;
  color: rgb(7, 4, 56);
}

.create-btn:hover{
  background: whitesmoke;
  color: rgb(7, 4, 56);
}

.error{
  position: absolute;
  color: aliceblue;
  top: 86%;
  font-size: 22px;
  list-style: none;
}

/*    above code is for home page                 */

.message-box {
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  background-color: transparent;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
  color: aliceblue;
  text-transform:capitalize;
}

.inputs {
  padding: 10px;
  display: flex;
}

.inputs input{
  height: 40px;
  width: 350px;
  background-color: transparent;
  border: whitesmoke solid 2px;
  border-radius: 30px;
  margin-top: 7px;
  color: aliceblue;
  padding-left: 13px;
}

.send{
  height: 45px;
  width: 100px;
  background-color: transparent;
  border: whitesmoke solid 2px;
  border-radius: 30px;
  font-size: 22px;
  color: aliceblue;
  margin-top: 7px;
  margin-left: 8px;
  transition: 1s;
}

.send:hover{
  background: whitesmoke;
  color: rgb(7, 4, 56);
}

h2 {
  text-align: center;
  color: aliceblue;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.muted {
  font-size: 13px;
  color: darkgray;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.animated-text{
  font-size: 23px;
  font-weight: 600;
  min-width: 280px;
  top: 87%;
  left:55%;
  color:aliceblue;
  position: absolute;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Youtuber";
  color: #f6f6f6;
  animation: words 5s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: transparent;
  border-left: 2px solid #ffffff;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,50%{
      content: "Khushi Mahajan";
  }
  51%,100%{
      content: "Developer Khushi";
  }
}

@keyframes typing {
  10%,50%{
      width: 0;
  }
  25%, 75%{
      width: calc(100% + 8px);
  }
}
